body{
    background: red;
}
body:before{
    content: "hello";
    position: fixed;
    background: repeating-radial-gradient(#000 0 0.0001%, #fff 0 0.0002%) 60% 60%/300px 3000px,
    repeating-conic-gradient(#000 0 0.0001%, #fff 0 0.0002%) 40% 40%/4000px 3000px;
    inset: -50%;
    animation: rotate 10s linear infinite;
    background-blend-mode: difference;
    filter: blur(2px) contrast(100) brightness(40);
    mix-blend-mode: lighten;
}


@keyframes rotate {
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 100% 100%;
    }
}